body {
    font-family: sans-serif;
    margin: 20px;
    display: flex;               /*  Включаем flexbox для body */
    flex-direction: column;      /*  Размещаем элементы вертикально */
    align-items: center;          /*  Центрируем содержимое body по горизонтали */
    min-height: 100vh;           /*  Минимальная высота body - 100% viewport height */
}

h1 {
    margin-bottom: 20px;
    text-align: center;        /* Центрируем заголовок */
}

.navigation {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 600px;
    margin: 0 auto; /* Центрируем список */
    justify-content: center;   /* Центрируем элементы списка по главной оси (горизонтально) */
}

.navigation li {
    width: auto;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.navigation a {
    display: block;
    padding: 15px 20px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; /* Центрируем текст внутри квадратика */
    transition: all 0.3s ease;
    width: 150px;
}

.navigation a:hover {
    background-color: #ddd;
}

.navigation a.active {
    width: auto; /*  Автоматическая ширина при активации (квадрат) */
    padding: 15px;
    border-radius: 5px;
    display: flex;          /*  Flexbox для вертикального центрирования */
    justify-content: center; /*  Центрирование по горизонтали */
    align-items: center;     /*  Центрирование по вертикали */
}

.description {
    display: none;
    padding: 15px;
    border: 1px solid #ccc;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.show {
    display: block;